*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    background-color: gray;

    align-content: center;
    justify-content: center;
    
    background-color: gray;
    background-attachment: fixed;

}
.div1{
    margin: 2em 2em 0.5em;
    width:50rem ;
    font-size: 3em;
}
.div2{
    margin: 0em 2em 2em;
    height: 32rem;
    width: 50rem;
    text-align: center;
    background-color: white;
    font-size: 2em;
}
.PhotoCard{
    width: 50rem;
    height: 25rem;
}
.photoname{
    padding: 2%;
    text-align: center;
}