*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    background-color: gray;

}

.container{
   
    margin: 7em 1em;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
   
}
.subcontainer1{
    color: white;
    padding: 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: #9b3a46;
    width: 25rem;
    height: 30rem;
   
}
.subcontainer2{
    padding: 8% 5%;
    display: flex;
    flex-direction: column;
 
    background-color: white;
   width:  25rem;
   height: 30rem;
    
}
.button{
    height: 3.5em;
    text-align: left;
    color: white;
    border: none;
    
}
.button1{
    background-color: rgba(57,87,154,255);
}
.button2{
    background-color: rgba(242,64,51,255);
}
.button3{
    background-color: rgba(36,169,230,255);
}
.field{
    height: 2.5em;
    width: 23em;
}
.submit{
    color: white;
    background-color: rgba(243,53,79,255);
    height: 2.7em;
    width: 5em;
    border: none;
}
.textcolor{
    color: #ce8c87;
    
}
a{
    text-decoration: none;
    color: blue;
}
